*.swp
*~
*.iml
.*.haste_cache.*
.DS_Store
.idea
.babelrc
.eslintrc
npm-debug.log
lib
tests/
node_modules/
.travis.yml
.coverage
.gitignore
.package-lock.json
.watchmanconfig
.babelrc
__tests__
coverage
.eslintignore
jest-prepropcessor.js
