*.swp
*~
*.iml
.*.haste_cache.*
.DS_Store
.idea
.babelrc
.eslintrc.yml
npm-debug.log
lib
tests/
node_modules/
.travis.yml
.circleci
.coverage
.gitignore
.yarn-lock.json
.watchmanconfig
babel.config.js
jest.config.js
__tests__
coverage
.eslintignore
jest-prepropcessor.js
tsconfig.build.json
src/
